@import "tailwindcss";
@plugin "daisyui";

/* factory styling */
/* *{
    padding: 0;
    margin: 0;
} */

/* carousel movement  */
html {
  scroll-behavior: smooth;
}

b {
  padding-inline-end: 0.5rem;
}

/* explore button */

.ex-layout {
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.ex-layout:hover::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.486);
  transition: 8s ease-in;
  filter: blur(2px);
  width: 16rem;
  aspect-ratio: 1;
  border-radius: 100%;
  z-index: -1;
  -webkit-filter: blur(2px);
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes pulse {
  50% {
    opacity: 0.4;
  }
}

/* sidebar */

.side-blur {
  background-color: rgba(255 255 255 / 30%);
  backdrop-filter: blur(10px);
}

.side-blur {
  z-index: 20;
}

.side-blur ul li:hover {
  border-right: 3px solid white;
  cursor: pointer;
}

/* nav layouts */

.nav-line {
  position: relative;
}

.nav-line::before {
  content: "";
  position: absolute;
  left: 3%;
  transform: translateX(-100%);
  display: block;
  width: 65%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.473);
}

@media (width <= 1300px) {
  .nav-line::before {
    width: 50%;
  }
}
@media (width <= 1200px) {
  .nav-line::before {
    width: 40%;
  }
}
@media (width <= 1088px) {
  .nav-line::before {
    width: 30%;
  }
}

.desk-nav {
  background-color: rgba(255 255 255 / 30%);
  backdrop-filter: blur(10px);
}

@media (width >= 48rem) {
  .nav-line::before {
    display: none;
  }
}

@media (width >= 64rem) {
  .nav-line::before {
    display: block;
  }
}

.nav-layout li {
  position: relative;
}

.nav-layout li a:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: 3.5rem;
  width: 100%;
  height: 0.2rem;
  background-color: white;
}

.nav-layout li a.active::after {
  content: "";
  display: block;
  position: absolute;
  top: 3.5rem;
  width: 100%;
  height: 0.2rem;
  background-color: white;
}

/* Destination page  */
.animate-moon {
  animation-name: axis;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0ms;
}

@keyframes axis {
  50% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

.sub-active ul li a.active {
  height: 3rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid white;
}

.sub-active ul li a:hover {
  height: 3rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid white;
  cursor: pointer;
}

/* Crew page  */

.caroul-dot a.active {
  background-color: white;
}

.caroul-dot a:hover {
  background-color: white;
}

/* Tech page  */
.tech-btn a.active {
  background-color: white;
  color: black;
}

.tech-btn a:hover {
  background-color: white;
  color: black;
}
